@charset " UTF-8";

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

@font-face {
    font-family:'Sriracha';
    src: url(fontes/Sriracha-Regular.ttf);
}

@font-face {
    font-family:'Passion One';
    src: url(fontes/PassionOne-Regular.ttf);
}

body{
    background-color: rgb(143, 143, 131);
}

h1{
    font-family: 'Passion One', cursive;
    font-size: 8vw;
}

span{
    font-size: 1.3em;
}

p{
    font-family: 'Sriracha', cursive;
    font-size:3.8vw;
    line-height: 2em;
    display: inline-block;
    padding-right: 20px;
}

header{ 
    text-align: center ;
    color: white;  
    background-color: black; 
    padding: 5% 10%;
}

header > p {
    font-family:sans-serif;
    font-size: 16px;
}

main{
    background-color: white;
    max-width: 1200px;
    margin: auto;
}

div{
    margin-bottom: 0px;
    padding:10vw 6vw;   
}

section{
    color: white;   ;
}

section > p {
    background-color: rgba(0, 0, 0, 0.473);
    max-width: 90%;
}

#fundo1 {
    background: fixed center center url(imagens/background001.jpg);
    background-attachment: fixed;  
}

#fundo2 {
    background: fixed center center url(imagens/background002.jpg);
    background-attachment: fixed;   
}

a{
    color: white;
    font-weight: bold;
}

a:hover{
    text-decoration: underline ;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
}

footer > p {
    display: block;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 20px;
}
